*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{

background:#f5f6fa;

padding:15px;

}

header{

text-align:center;

margin-bottom:20px;

}

h1{

font-size:32px;

color:#222;

}

#todayDate{

margin-top:8px;

color:#777;

}

.addHabit{

display:flex;

gap:10px;

margin-bottom:20px;

}

.addHabit input{

flex:1;

padding:12px;

font-size:18px;

border-radius:12px;

border:1px solid #ccc;

}

.addHabit button{

padding:12px 20px;

background:#2ecc71;

color:white;

border:none;

border-radius:12px;

font-size:17px;

}

.card{

background:white;

border-radius:16px;

padding:15px;

margin-bottom:15px;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.title{

font-size:20px;

font-weight:bold;

margin-bottom:15px;

}

.row{

display:flex;

justify-content:space-between;

align-items:center;

}

.circle{

width:60px;

height:60px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

color:white;

font-weight:bold;

font-size:18px;

}

.buttons{

display:flex;

gap:10px;

margin-top:15px;

}

.buttons button{

flex:1;

padding:12px;

border:none;

border-radius:12px;

font-size:18px;

}

.plus{

background:#27ae60;

color:white;

}

.minus{

background:#e74c3c;

color:white;

}

.bottomNav{

position:fixed;

bottom:0;

right:0;

left:0;

background:white;

padding:12px;

display:flex;

justify-content:space-around;

box-shadow:0 -2px 10px rgba(0,0,0,.1);

}

.bottomNav button{

background:none;

border:none;

font-size:18px;

}